<template>
  <div class="chat-container">
    <HeaderChat :name="this.name" class="chat-header-container"></HeaderChat>
    <SideBar class="chat-side-bar-container"></SideBar>
    <Messaging :name="this.name" class="chat-messages-container"></Messaging>
    <FooterChat :name="this.name" class="chat-footer-container"></FooterChat>
  </div>
</template>

<style>
.chat-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
  "header  header  header header header header"
  "sidebar messages messages messages messages messages"
  "sidebar  footer footer footer footer footer";
  height: 100vh;
  grid-template-rows: 0fr 4fr 1fr;
}

.chat-header-container {
  grid-area: header;
}

.chat-side-bar-container {
  background: #fd1640;
  grid-area: sidebar;
  text-align: left;
}

.chat-messages-container {
  background-color: #eff1f2;
  grid-area: messages;
  padding: 30px;
}

.chat-footer-container {
  background-color: #ffffff;
  grid-area: footer;
}

</style>

<script>
import SideBar from '../components/SideBar.vue'
import HeaderChat from '../components/HeaderChat.vue'
import Messaging from '../components/Messaging.vue'
import FooterChat from '../components/FooterChat.vue'

export default {
  name: "chat",
  props: ['name'],
  components: {
    SideBar,
    HeaderChat,
    Messaging,
    FooterChat
  }
};
</script>
