<template>
  <div class="username-container">
    <div class="username-content">
      <form @submit.prevent="login">
        <label for="static_textfield" class="doordash-textfield__label">
          Username
        </label>
        <div class="doordash-textfield">
          <input 
            type="text"
            id="static_textfield"
            class="doordash-textfield__input"
            placeholder="Type your username..."
            name="name"
            v-model="name"/>
        </div>
        <p v-if="errorMessage" class="error-message">{{ errorMessage }}</p>
        <button type="submit" class="doordash-button doordash-button--primary">
          <span>Join the DoorDash Chat!</span>
        </button>
      </form>
    </div>
  </div>
</template>

<style>
.username-container {
  display: flex;
  height: 90vh;
  margin: auto;
  width: 90vw;
}

.username-content {
  margin: auto;
  width: 500px;
}

.doordash-textfield__label {
  color: #333;
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.doordash-textfield {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.doordash-textfield__input {
  background: #ffffff;
  border: 2px solid #e1e2e5;
  border-radius: 3px;
  color: #333333;
  display: block;
  font-size: 1.2rem;
  line-height: 1.25;
  margin: 0;
  padding: 15px 30px;
  transition: 200ms all linear;
  width: 100%;
}

.doordash-button--primary {
  background-color: #fd1640;
  border-color: #fd1640;
  color: #ffffff;
  font-weight: 400;
}

.doordash-button {
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.2rem;
  justify-content: center;
  line-height: 1.4rem;
  margin-top: 30px;
  padding: 20px 15px;
  transition: 200ms all linear;
  width: 100%;
}
.doordash-button--primary:hover {
  background-color: #7f0c20;
  border-color: #7f0c20;
}

.error-message {
  color: #D8000C;
  font-size: 20px;
  margin-bottom: 0;
}
</style>

<script>
export default {
  name: 'username',
  data() {
    return {
      name: '',
      errorMessage: null
    }
  },
  methods: {
    login() {
      if(this.name) {
        this.$router.push({name: 'chat', params:{name: this.name}});
      } else {
        this.errorMessage = 'Please input a username';
      }
    }
  }
};
</script>
