<template>
    <footer>
      <div class="chat-footer-content">
      <form @submit.prevent="sendMessage">
        <div class="chat-footer-input">
            <div class="doordash-textfield">
              <input 
                type="text"
                name="message"
                class="doordash-textfield__input"
                placeholder="Type a message..."
                v-model="newMessage"/>
            </div>
            <button class="doordash-button--ghost" type="submit" name="action">
              <span>Send</span>
            </button>
        </div>
      </form>
      </div>
    </footer>
</template>

<style scoped>
footer {
  align-items: center;
  border-top: 1px solid #E0E0E0;
  box-shadow: 0px -12px 18px -15px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 40px;
}

.chat-footer-content {
  width: 100%;
}

.chat-footer-input {
  display: flex;
}

.doordash-button--ghost {
  background-color: transparent;
  border-color: transparent;
  color: #006EDB;
  cursor: pointer;
  font-size: 1.4rem;
  margin-left: 30px;
}

.doordash-button--ghost:hover {
  color: #005ab3;
}
</style>

<script>
import fb from '../firebase/init'

export default {
  name: "FooterChat",
  props: ['name'],
  data() {
    return {
      newMessage: null
    }
  },
  methods: {
    sendMessage() {
        fb.collection('messages').add({
          message: this.newMessage,
          name: this.name,
          createdAt: new Date()
        })
        this.newMessage = null
    }
  }
};
</script>

