<template>
  <header>
    <div class="chat-header-username">
        <h2>{{ this.name }}</h2>
        <p>Online for </p>
    </div>
    <div class="chat-header-room">
      <h1>Business</h1>
      <div class="chat-room-users">
        <span class="chat-username">{{ this.name }}</span>, <span>Jim Halpert</span>
      </div>
    </div>
  </header>
</template>

<style scoped>
header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
  "username  roomName  roomName roomName roomName roomName";
}

.chat-header-username {
  background: #fd1640;
  color: #ffffff;
  grid-area: username;
  text-align: left;
  padding: 25px;
}

.chat-header-room {
  background: #ffffff;
  border-bottom: 1px solid #E0E0E0;
  box-shadow: 0 9px 18px -15px rgba(0, 0, 0, 0.2);
  grid-area: roomName;
  padding: 25px;
  position: relative;
}

h1 {
  color: #525252;
  font-weight: 200;
}

h2,
span {
  text-transform: capitalize;
}

.chat-room-users {
  color: #707070;
  font-size: 20px;
}

.chat-username {
  color: #fd1640;
}
</style>

<script>

export default {
  name: "HeaderChat",
  props: ['name'],
};
</script>

