<template>
    <main v-chat-scroll="{always: false, smooth: true}">
        <div class="received-message">
            <div class="doordash-chat-bubble">
                <span>Hi</span>
            </div>
            <span class="chat-username">Jim Halpert</span>
        </div>
        <div class="output-message" v-for="message in messages" v-bind:key="message.id">
            <div class="doordash-chat-bubble doordash-chat-bubble--own">
                <span>{{ message.message }}</span>
            </div>
            <span class="chat-username">{{ message.name }}</span>
            <span class="text-secondary time">{{message.timestamp}}</span>
        </div>
    </main>
</template>

<style scoped>
main {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.received-message {
    align-self: flex-start;
}

.output-message {
    align-self: flex-end;
    display: block;
}

.doordash-chat-bubble {
    background-color: #ffffff;  
    border-radius: 30px;
    color: #666d78;
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 190px;
    min-width: 60px;
    padding: 15px 20px;
}

.doordash-chat-bubble--own {
    color: #fff;
    background-color: #FD1640;
    border-radius: 30px;
    align-self: flex-end;
}

.chat-username {
    color: #868686;
    font-size: 20px;
    text-transform: capitalize;
}
</style>

<script>
import FooterChat from './FooterChat';
import fb from '../firebase/init';
import moment from 'moment';

export default {
    name: 'Messaging',
    props: ['name'],
    components: {
        FooterChat
    },
    data() {
        return {
            newMessage: null,
            messages: []
        }
    },
    methods: {
        fetchMessages() {
            fb.collection('messages').orderBy('createdAt').onSnapshot((querySnapshot)=> {
                let allMessages = [];
                querySnapshot.forEach(doc=> {
                    allMessages.push(doc.data());
                })
                this.messages = allMessages
            })
        }
    },
    created() {
        this.fetchMessages();
    }
}
</script>

