<template>
    <nav>
        <div>
            <ul class="chat-rooms">
                <li class="chat-room-active">
                    <a href="">Business</a>
                </li>
                <li>
                    <a href="">Design</a>
                </li>
            </ul>
        </div>
    </nav>
</template>

<style scoped>
.chat-rooms {
    color: #ffffff;
    font-size: 20px;
}

.chat-room-active  {
    background: #7f0c20;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 20px 25px;
    transition: 100ms all linear;
}

li a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

li:hover {
    background: #7f0c20;
}
</style>

<script>
export default {
  name: "SideBar",
  props: {
    msg: String
  }
};
</script>

