<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style>
body {
  margin: 0;
}

#app {
  font-family: 'Roboto', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

</style>